/* helper */
.gt-hide {display:none}
.gt-blind {overflow:hidden; position:absolute; width:0; height:0; line-height:0; text-indent:-9999px}
.gt-overlay {position:fixed; top:0;  left:0; width:100%; height:100%; background:#000; opacity:0; z-index:1010;}
.gt-f-l {float:left}
.gt-f-r {float:right}
.gt-clearfix:after {display:block; content:''; clear:both}
.gt-overflow-hidden {overflow: hidden}
.gt-spr-img {@include sprite($sprite-img-url)}