/* gtris-loader */
.gt-loading-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2000;

	//gt-scaleout
	.gt-scaleout {
		width: $scaleout-size;
		height: $scaleout-size;
		background-color: $scaleout-color;
		border-radius: 100%;
		-webkit-animation: gt-sk-scaleout 1.0s infinite ease-in-out;
		animation: gt-sk-scaleout 1.0s infinite ease-in-out;
	}
	@-webkit-keyframes gt-sk-scaleout {
		0% { -webkit-transform: scale(0) }
		100% {
			-webkit-transform: scale(1.0);
			opacity: 0;
		}
	}
	@keyframes gt-sk-scaleout {
		0% {
			-webkit-transform: scale(0);
			transform: scale(0);
		} 100% {
			  -webkit-transform: scale(1.0);
			  transform: scale(1.0);
			  opacity: 0;
		  }
	}

	//double-bounce
	.gt-double-bounce {
		width: $double-bounce-size;
		height: $double-bounce-size;
		position: relative;
	}

	.gt-double-bounce1, .gt-double-bounce2 {
		width: 100%;
		height: 100%;
		border-radius: 50%;
		background-color: $double-bounce-color;
		opacity: 0.6;
		position: absolute;
		top: 0;
		left: 0;
		-webkit-animation: gt-sk-bounce 2.0s infinite ease-in-out;
		animation: gt-sk-bounce 2.0s infinite ease-in-out;
	}

	.gt-double-bounce2 {
		-webkit-animation-delay: -1.0s;
		animation-delay: -1.0s;
	}

	@-webkit-keyframes gt-sk-bounce {
		0%, 100% { -webkit-transform: scale(0.0) }
		50% { -webkit-transform: scale(1.0) }
	}

	@keyframes gt-sk-bounce {
		0%, 100% { 
			transform: scale(0.0);
			-webkit-transform: scale(0.0);
		} 50% { 
			transform: scale(1.0);
			-webkit-transform: scale(1.0);
		}
	}

	//gt-rotateplane
	.gt-rotateplane {
		width: $rotateplane-size;
		height: $rotateplane-size;
		background-color: $rotateplane-color;
		-webkit-animation: gt-sk-rotateplane 1.2s infinite ease-in-out;
		animation: gt-sk-rotateplane 1.2s infinite ease-in-out;
	}
	@-webkit-keyframes gt-sk-rotateplane {
		0% { -webkit-transform: perspective(120px) }
		50% { -webkit-transform: perspective(120px) rotateY(180deg) }
		100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
	}
	@keyframes gt-sk-rotateplane {
		0% {
			transform: perspective(120px) rotateX(0deg) rotateY(0deg);
			-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
		} 50% {
			transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
			-webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
		} 100% {
			transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
			-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
		}
	}
	
	//gt-bouncedelay
	.gt-bouncedelay > div {
		width: $bouncedelay-size;
		height: $bouncedelay-size;
		background-color: $bouncedelay-color;
		border-radius: 100%;
		display: inline-block;
		-webkit-animation: gt-sk-bouncedelay 1.4s infinite ease-in-out both;
		animation: gt-sk-bouncedelay 1.4s infinite ease-in-out both;
	}

	.gt-bouncedelay .gt-bounce1 {
		-webkit-animation-delay: -0.32s;
		animation-delay: -0.32s;
	}

	.gt-bouncedelay .gt-bounce2 {
		-webkit-animation-delay: -0.16s;
		animation-delay: -0.16s;
	}

	@-webkit-keyframes gt-sk-bouncedelay {
		0%, 80%, 100% { -webkit-transform: scale(0) }
		40% { -webkit-transform: scale(1.0) }
	}

	@keyframes gt-sk-bouncedelay {
		0%, 80%, 100% { 
			-webkit-transform: scale(0);
			transform: scale(0);
		} 40% { 
			-webkit-transform: scale(1.0);
			transform: scale(1.0);
		}
	}

	//folding
	.gt-folding-cube {
		width: $folding-cube-size;
		height: $folding-cube-size;
		position: relative;
		-webkit-transform: rotateZ(45deg);
		transform: rotateZ(45deg);
	}
	.gt-folding-cube .gt-cube {
		float: left;
		width: 50%;
		height: 50%;
		position: relative;
		-webkit-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1); 
	}
	.gt-folding-cube .gt-cube:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $folding-cube-color;
		-webkit-animation: gt-foldCubeAngle 2.4s infinite linear both;
		animation: gt-foldCubeAngle 2.4s infinite linear both;
		-webkit-transform-origin: 100% 100%;
		-ms-transform-origin: 100% 100%;
		transform-origin: 100% 100%;
	}
	.gt-folding-cube .gt-cube2 {
		-webkit-transform: scale(1.1) rotateZ(90deg);
		transform: scale(1.1) rotateZ(90deg);
	}
	.gt-folding-cube .gt-cube3 {
		-webkit-transform: scale(1.1) rotateZ(180deg);
		transform: scale(1.1) rotateZ(180deg);
	}
	.gt-folding-cube .gt-cube4 {
		-webkit-transform: scale(1.1) rotateZ(270deg);
		transform: scale(1.1) rotateZ(270deg);
	}
	.gt-folding-cube .gt-cube2:before {
		-webkit-animation-delay: 0.3s;
		animation-delay: 0.3s;
	}
	.gt-folding-cube .gt-cube3:before {
		-webkit-animation-delay: 0.6s;
		animation-delay: 0.6s; 
	}
	.gt-folding-cube .gt-cube4:before {
		-webkit-animation-delay: 0.9s;
		animation-delay: 0.9s;
	}
	@-webkit-keyframes gt-foldCubeAngle {
		0%, 10% {
		-webkit-transform: perspective(140px) rotateX(-180deg);
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0; 
		} 25%, 75% {
		-webkit-transform: perspective(140px) rotateX(0deg);
		transform: perspective(140px) rotateX(0deg);
		opacity: 1; 
		} 90%, 100% {
		-webkit-transform: perspective(140px) rotateY(180deg);
		transform: perspective(140px) rotateY(180deg);
		opacity: 0; 
		}
	}
	@keyframes sk-foldCubeAngle {
		0%, 10% {
		-webkit-transform: perspective(140px) rotateX(-180deg);
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0; 
		} 25%, 75% {
		-webkit-transform: perspective(140px) rotateX(0deg);
		transform: perspective(140px) rotateX(0deg);
		opacity: 1; 
		} 90%, 100% {
		-webkit-transform: perspective(140px) rotateY(180deg);
		transform: perspective(140px) rotateY(180deg);
		opacity: 0; 
		}
	}

	//rectangle-bounce
	.gt-rectangle-bounce {
		height: $rectangle-bounce-height;
	}

	.gt-rectangle-bounce > div {
		background-color: $rectangle-bounce-color;
		height: 100%;
		width: $rectangle-bounce-width;
		display: inline-block;
		-webkit-animation: gt-sk-stretchdelay 1.2s infinite ease-in-out;
		animation: gt-sk-stretchdelay 1.2s infinite ease-in-out;
	}

	.gt-rectangle-bounce .gt-rect2 {
		-webkit-animation-delay: -1.1s;
		animation-delay: -1.1s;
	}

	.gt-rectangle-bounce .gt-rect3 {
		-webkit-animation-delay: -1.0s;
		animation-delay: -1.0s;
	}

	.gt-rectangle-bounce .gt-rect4 {
		-webkit-animation-delay: -0.9s;
		animation-delay: -0.9s;
	}

	.gt-rectangle-bounce .gt-rect5 {
		-webkit-animation-delay: -0.8s;
		animation-delay: -0.8s;
	}

	@-webkit-keyframes gt-sk-stretchdelay {
		0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
		20% { -webkit-transform: scaleY(1.0) }
	}

	@keyframes gt-sk-stretchdelay {
		0%, 40%, 100% { 
			transform: scaleY(0.4);
			-webkit-transform: scaleY(0.4);
		}  20% { 
			transform: scaleY(1.0);
			-webkit-transform: scaleY(1.0);
		}
	}

}