/*gtris-button*/
.gt-button {
    display: inline-block;
    padding: $button-padding;
    color: $button-color;
    border: 1px solid $button-borderColor;
    background-color: $button-bgColor;
    letter-spacing: $button-letterSpacing;
    height: $button-height;
    line-height: $button-height;
    border-radius: $button-borderRadius;
    font-size: $button-fontsize;
    cursor: pointer;
    vertical-align: middle;
    overflow: visible;
    box-sizing: border-box;
    @include user-select(none);
    
    &.gt-button:hover {
        color: $button-hover-color;
        background: $button-hover-bgColor;
        border-color: $button-hover-bgColor;
        text-decoration: none;
    }

    &.gt-button-outline {
        color: $button-outline-color;
        border: 1px solid $button-outline-borderColor;
        background-color: transparent;
    }

    &.gt-button-outline:hover {
        color: $button-outline-hover-color;
        border-color: $button-outline-hover-borderColor;
        background-color: transparent;
    }

    //disabled
    &.gt-button[disabled],
    &.gt-button-disabled,
    &.gt-button-disabled:hover,
    &.gt-button-disabled:focus,
    &.gt-button-disabled:active {
        color: $button-disabled-color;
        background-color: $button-disabled-bgColor;
        border-color: $button-disabled-borderColor;
        cursor: not-allowed;
        @include opacity(0.4);
    }

}